<div class="container">
  <div class="wrapper">
    <div class="content">
      <h2>Lorem ipsum</h2>
      <p>
        Donec porttitor nisl vel laoreet gravida. Etiam sem tellus, sagittis nec
        aliquam id, porttitor id ex. Etiam nisl odio, pellentesque ut ipsum eu,
        ultricies accumsan nulla. Praesent ullamcorper odio vel dolor euismod
        eleifend. Morbi magna felis, varius quis eros ut, elementum laoreet
        lectus. Pellentesque ut arcu mauris. Donec porttitor sapien erat, tempus
        bibendum sem lacinia ultricies. Orci varius natoque penatibus et magnis
        dis parturient montes, nascetur ridiculus mus.
      </p>
    </div>
    <div class="content">
      <img src="" alt="" />
    </div>
  </div>
</div>
